
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="category">
    <ul class="dresses">
        <li>Sukienki
            <ul class="dresses-list">
                <li>@Html.ActionLink("Sukienki letnie", "Dresses", "Zalando", new { categoryName = "Sukienki letnie" }, null)</li>
                <li>@Html.ActionLink("Sukienki koktajlowe", "Dresses", "Zalando", new { categoryName = "Sukienki koktajlowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki koszulowe", "Dresses", "Zalando", new { categoryName = "Sukienki koszulowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki z dzerseju", "Dresses", "Zalando", new { categoryName = "Sukienki z dzerseju" }, null)</li>
                <li>@Html.ActionLink("Sukienki etui", "Dresses", "Zalando", new { categoryName = "Sukienki etui" }, null)</li>
                <li>@Html.ActionLink("Sukienki dlugie", "Dresses", "Zalando", new { categoryName = "Sukienki dlugie" }, null)</li>
                <li>@Html.ActionLink("Sukienki jeansowe", "Dresses", "Zalando", new { categoryName = "Sukienki jeansowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki dzianinowe", "Dresses", "Zalando", new { categoryName = "Sukienki dzianinowe" }, null)</li>
            </ul>
        </li>
    </ul>
    <a href="http://localhost:50132/Zalando/Dresses?categoryName=KategoriaDupa">KategoriaDupa</a>
</div>
