
@{
    ViewBag.Title = "Zalando - Sukienki";
}


<div class="category-dresses">
    <ul class="dresses">
       <li><div><a href="#">Sukienki</a></div>
           <ul class="dresses-list">
                <!--TODO: foreach-->
                <li class="@(ViewBag.CategoryName == "Sukienki letnie" ? "selected" : "")">@Html.ActionLink("Sukienki letnie", "Dresses", "Zalando", new { categoryName = "Sukienki letnie" }, null)</li>
                <li class="@(ViewBag.CategoryName == "Sukienki koktajlowe" ? "selected" : "")">@Html.ActionLink("Sukienki koktajlowe", "Dresses", "Zalando", new { categoryName = "Sukienki koktajlowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki koszulowe", "Dresses", "Zalando", new { categoryName = "Sukienki koszulowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki z dzerseju", "Dresses", "Zalando", new { categoryName = "Sukienki z dzerseju" }, null)</li>
                <li>@Html.ActionLink("Sukienki etui", "Dresses", "Zalando", new { categoryName = "Sukienki etui" }, null)</li>
                <li>@Html.ActionLink("Sukienki dlugie", "Dresses", "Zalando", new { categoryName = "Sukienki dlugie" }, null)</li>
                <li>@Html.ActionLink("Sukienki jeansowe", "Dresses", "Zalando", new { categoryName = "Sukienki jeansowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki dzianinowe", "Dresses", "Zalando", new { categoryName = "Sukienki dzianinowe" }, null)</li>
           </ul>
        </li>
    </ul>
</div>
<div class="menu">
    <form action="#">
        <fieldset>
            <label for="size">Rozmiar</label>
            <select name="size" id="size">
                <option>32</option>
                <option>34</option>
                <option>36</option>
                <option>38</option>
                <option>40</option>
                <option>42</option>
                <option>44</option>
                <option>46</option>
            </select>
            <button>Zamknij</button>
        </fieldset>
    </form>
</div>


