
@{
    ViewBag.Title = "Zalando - Sukienki";
}

<h2>Index</h2>

<div class="category">
    <ul class="dresses">
       <li><div>Sukienki</div>
           <ul class="dresses-list">
                <!--TODO: foreach-->
                <li class="@(ViewBag.CategoryName == "Sukienki letnie" ? "selected" : "")">@Html.ActionLink("Sukienki letnie", "Dresses", "Zalando", new { categoryName = "Sukienki letnie" }, null)</li>
                <li class="@(ViewBag.CategoryName == "Sukienki koktajlowe" ? "selected" : "")">@Html.ActionLink("Sukienki koktajlowe", "Dresses", "Zalando", new { categoryName = "Sukienki koktajlowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki koszulowe", "Dresses", "Zalando", new { categoryName = "Sukienki koszulowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki z dzerseju", "Dresses", "Zalando", new { categoryName = "Sukienki z dzerseju" }, null)</li>
                <li>@Html.ActionLink("Sukienki etui", "Dresses", "Zalando", new { categoryName = "Sukienki etui" }, null)</li>
                <li>@Html.ActionLink("Sukienki dlugie", "Dresses", "Zalando", new { categoryName = "Sukienki dlugie" }, null)</li>
                <li>@Html.ActionLink("Sukienki jeansowe", "Dresses", "Zalando", new { categoryName = "Sukienki jeansowe" }, null)</li>
                <li>@Html.ActionLink("Sukienki dzianinowe", "Dresses", "Zalando", new { categoryName = "Sukienki dzianinowe" }, null)</li>
           </ul>
        </li>
    </ul>
</div>
